.info-section {
    background-color:var(--background);
}

.info-wrap {
    background-color:var(--background-wrap);
}

.links {
    display:table;
    vertical-align: middle;
    width:20%;
    padding:20px;
}

.links-wrap {
    display:table-cell;
    vertical-align:middle;
}

.links-table {
    display:table;
    margin-left:auto;
    margin-right:auto;
}

.link-wrap {
    display:table-row;
}

.link-wrap button {
    margin-top: 7px;
    margin-bottom: 7px;
}

/* About Me Start */

#about-me {
    width:100%;
    display:flex;
    justify-content:center;
}

.about-me-wrap {
    background-color:var(--background-wrap);
    width:1280px;
    display:flex;
}

.about-me-text {
    width:80%;
    padding:20px;
}

#about-me .languages {
    display:flex;
}

#about-me .languages .language-wrap {
    width:20%;
    max-width:125px;
}

#about-me .languages .language-wrap img {
    width:100%;
}

/* About Me End */

/* Experience Start */

#experience {
    width:100%;
    height:400px;
    display:flex;
    justify-content:center;
}

.experience-wrap {
    width:1280px;
}

.experience-wrap h2 {
	padding-top:0px;
	padding-bottom:0px;
	padding-left:20px;
	padding-right:20px;
	margin-bottom:0px;
}

.experience-text {
    width:80%;
    padding:20px;
}

.experience-link {
    width:65%;
    padding:20px;
}

.UKO {
	display:flex;
}

.TNS {
	display:flex;
}

.UKO-text {
	padding:20px;
	width:80%;
}

.TNS-text {
	padding:20px;
	width:80%;
}

/* Experience End */

/* Projects Start */

#projects {
    width:100%;
    height:300px;
    display:flex;
    justify-content:center;
}

.projects-wrap {
    width:1280px;
    display:flex;
}

.projects-text {
    width:80%;
    padding:20px;
}

.projects-link {
    width:65%;
    padding:20px;
}

/* Projects End */
